<html>
  <head>
    <style>
      .container { width: 800px; font-family: Arial, Helvetica, sans-serif; }
      span { margin: 10px 0; display: block; }
    </style>

  </head>
  <body>
    <div class="container">
      <span>Oi, {{name}}</span>

      <br />

      <span>Você solicitou código de verifição de conta.</span>
      <span>Seu código é {{code}}</span>
      <strong>Obrigado!</strong>

      <h3>Equipe | <strong>Mirantes</strong></h3>
      <p>Backend Developer <strong>Herlander Bento</strong></p>
    </div>
  </body>
</html>